<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <h1>Welcome to Madlibs!</h1>

    <form action="/madlib">
      <label for="person">Input the name of a person:</label>
      <input type="text" name="person"/>
      <br>

      <label for="color">Input a color:</label>
      <input type="text" name="color">
      <br>

      <label for="person">Input a noun:</label>
      <input type="text" name="noun">
      <br>

      <label for="person">Input an adjective:</label>
      <input type="text" name="adjective">
      <br>

      <button type="submit">Submit words</button>
    </form>
  </body>

</html>